<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-baichuan" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
  <name>cordovaPluginBaichuan</name>
  <js-module name="cordovaPluginBaichuan" src="www/cordovaPluginBaichuan.js">
    <clobbers target="BC"/>
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="cordovaPluginBaichuan">
        <param name="onload" value="true"/>
        <param name="android-package" value="com.mokoto.cordova.baichuan.cordovaPluginBaichuan"/>
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml">

    </config-file>
    <source-file src="src/android/cordovaPluginBaichuan.java" target-dir="src/com/mokoto/cordova/baichuan"/>
    <source-file src="src/android/BaichuanProxy.java" target-dir="src/com/mokoto/cordova/baichuan"/>
    <framework custom="true" src="src/android/baichuan.gradle" type="gradleReference"/>
  </platform>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="cordovaPluginBaichuan">
        <param name="ios-package" value="cordovaPluginBaichuan"/>
        <param name="onload" value="true"/>
      </feature>
    </config-file>
    <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
      <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
      </dict>
    </config-file>

    <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
      <array>
        <string>tbopen</string>
        <string>tmall</string>
      </array>
    </config-file>

    <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
        <dict>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
          <key>CFBundleURLName</key>
          <string>baichuan</string>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>tbopen$APPKEY</string>
          </array>
        </dict>
      </array>
    </config-file>

    <framework src="CoreMotion.framework"/>
    <framework src="CoreTelephony.framework"/>
    <framework src="libsqlite3.tbd"/>
    <framework src="libc++.tbd"/>
    <framework src="libz.tbd"/>

    <podspec>
      <config>
        <source url="http://repo.baichuan-ios.taobao.com/baichuanSDK/AliBCSpecs.git"/>
      </config>
      <pods>
        <pod name="AlibcTradeSDK" spec="4.0.0.2"/>
        <pod name="AliAuthSDK" spec="2.0.0.3"/>
        <pod name="mtopSDK" spec="3.0.0.4"/>
        <pod name="securityGuard" spec="5.4.173"/>
        <pod name="AliLinkPartnerSDK" spec="2.0.0.0"/>
        <pod name="BCUserTrack" spec="5.2.0.1-appkeys"/>
        <pod name="UTDID" spec="~>1.1.0.16"/>
      </pods>
    </podspec>
    <header-file src="src/ios/AppDelegate_cordovaPluginBaichuan.h"/>
    <source-file src="src/ios/AppDelegate_cordovaPluginBaichuan.m"/>
    <header-file src="src/ios/cordovaPluginBaichuan.h"/>
    <source-file src="src/ios/cordovaPluginBaichuan.m"/>
    <hook type="before_plugin_install" src="hook/ios_after_plugin_install.js"/>
<!--    <source-file src="src/ios/mtopsdk_configuration.plist" target-dir="../Resources"/>-->
  </platform>
</plugin>
